doctype html
html(lang='zh-Hant')
  head
    meta(charset='UTF-8')
    title SOSCET | 東部開源學生社群
  body
    header.header
      h1 東部開源學生社群
      h3 SOSCET

    footer
      h5 Students' Open Source Community of Eastern Taiwan
      .md-col-12
        a(title='SOSCET Facebook', href='https://facebook.com/soscet')
          i.fa.fa-2x.fa-facebook
        a(title='SOSCET Slack', href='https://invite.soscet.org')
          i.fa.fa-2x.fa-slack
        a(title='SOSCET Homepage', href='https://soscet.org')
          i.fa.fa-2x.fa-home
        a(title='contact At soscet.org', href='mailto:contact@soscet.org')
          i.fa.fa-2x.fa-envelope

    link(rel='stylesheet' type='text/css' href='assets/semantic/css/semantic-ui.css')
    link(rel='stylesheet' type='text/css' href='assets/style/main.css')
    link(rel='stylesheet' type='text/css' href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')