body
    font-family: sans-serif, 'Microsoft JhengHei', 'Lato', 'Helvetica Neue', Arial, Helvetica;
    background: url('../images/pattern.svg') 
    background-repeat-x: no-repeat
    background-size: cover
    height: 1080px;