body,
.ui *,
.ui.header,
.ui.text.container
    font-family: 'Microsoft JhengHei', sans-serif, 'Lato', 'Helvetica Neue', Arial, Helvetica;

div.bkg
    background-image: url('../images/pattern.png')
    background-size: cover
    background-repeat: no-repeat
    position: fixed
    top: 0
    left 0
    z-index: -1
    width: 100%
    height: 100vh

.segment > p
    line-height: 2em 
    text-indent: 2em

.segment > .list > a > i.fa
    margin-right: 0.3em
    width: 1.5em 
    padding-right: 0.3em 
